In [1]:
# Import Dependencies
import pandas as pd
import os
import csv

In [2]:
bitcoin = os.path.join("bitcoin_cash_price.csv")
dash = os.path.join("dash_price.csv")

In [3]:
bc_df = pd.read_csv(bitcoin)
d_df = pd.read_csv(dash)

In [4]:
bc_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
d_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [6]:
# Merge the two DataFrames together based on the Dates they share

m_df = pd.merge(bc_df,d_df,on="Date")
m_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [7]:
# Rename columns so that they are differentiated
cleaned_df = m_df.rename(columns= {"Date":"Date",
                                "Open_x":"Bitcoin Open",
                                  "High_x":"Bitcoin High",
                                  "Low_x":"Bitcoin Low",
                                  "Close_x":"Bitcoin Close",
                                  "Volume_x":"Bitcoin Volume",
                                  "Maret Cap_x":"Bitcoin Market Cap",
                                  "Open_y":"Dash Open",
                                  "High_y":"Dash High",
                                  "Low_y":"Dash Low",
                                  "Close_y":"Dash Close",
                                  "Volume_y":"Dash Volume",
                                  "Maret Cap_y":"Dash Market Cap",})
cleaned_df.head()

# alt_df = pd.merge(bc_df,d_df,on="Date",suffixes=("_Bitcoin","_Dash"))

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Market Cap_x,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [8]:
# alternatively you can set your suffixes when the merge occurs

In [9]:
# Collecting best open for Bitcoin and Dash
best_open_bc = cleaned_df["Bitcoin Open"].max()
best_open_bc

best_open_d = cleaned_df["Dash Open"].max()
best_open_d

# Collecting best close for Bitcoin and Dash

best_close_bc = cleaned_df['Bitcoin Close'].max()
best_close_d = cleaned_df['Dash Close'].max()

# Collecting the total volume for Bitcoin and Dash

total_vol_bc = round(cleaned_df["Bitcoin Volume"].sum()/1000000,2)
total_vol_d = round(cleaned_df["Dash Volume"].sum()/1000000,2)

In [11]:
# Creating a summary DataFrame using above values
# when creating a new dataframe using .DataFrame - be sure to put individual
# values in a key within square brackets

summary_df = pd.DataFrame({
    "Best Bitcoin Open":[best_open_bc],
    "Best Dash Open":[best_open_d],
    "Best Bitcoin Close":[best_close_bc],
    "Best Dash Close":[best_close_d],
    "Total Bitcoin Volume":str(total_vol_bc) + " million",
    "Total Dash Volume":str(total_vol_d) + " million"
})

summary_df.head(10)

,Best Bitcoin Open,Best Dash Open,Best Bitcoin Close,Best Dash Close,Total Bitcoin Volume,Total Dash Volume
0,772.42,400.42,754.56,399.85,24383.05 million,2960.28 million