# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Import the necessary modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import csv

In [2]:
# Bring each CSV into a separate data frame
wwe13 = os.path.join("Resources/WWE-Data-2013.csv")
wwe14 = os.path.join("Resources/WWE-Data-2014.csv")
wwe15 = os.path.join("Resources/WWE-Data-2015.csv")
wwe16 = os.path.join("Resources/WWE-Data-2016.csv")

w13_df = pd.read_csv(wwe13)
w14_df = pd.read_csv(wwe14)
w15_df = pd.read_csv(wwe15)
w16_df = pd.read_csv(wwe16)

In [3]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
wwe1 = pd.merge(w13_df,w14_df,on='Wrestler')

wwe1.head()

         Wrestler  Wins_x  Losses_x  Draws_x  Wins_y  Losses_y  Draws_y
0    Daniel Bryan     177        37        6      35        16        2
1    Dean Ambrose      70       134        4     129        36        2
2  Antonio Cesaro      80       126        1       5        24        0
3    Seth Rollins      50       150        4      87       105        4
4     Randy Orton     129        63        8      33        87        5

In [4]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"

wwe2 = wwe1.rename(columns={'Wins_x':'2013 Wins',"Losses_x":"2013 Losses","Draws_x":"2013 Draws",
                     'Wins_y':'2014 Wins',"Losses_y":"2014 Losses","Draws_y":"2014 Draws"})

In [5]:
wwe2.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177,37,6,35,16,2
1,Dean Ambrose,70,134,4,129,36,2
2,Antonio Cesaro,80,126,1,5,24,0
3,Seth Rollins,50,150,4,87,105,4
4,Randy Orton,129,63,8,33,87,5

In [6]:
# Merge our newly combined dataframe with the 2015 dataframe
wwe3 = pd.merge(wwe2,w15_df,on='Wrestler')
wwe3

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,Wins,Losses,Draws
0,Daniel Bryan,177,37,6,35,16,2,51,7,0
1,Dean Ambrose,70,134,4,129,36,2,150,63,5
2,Seth Rollins,50,150,4,87,105,4,51,124,1
3,Randy Orton,129,63,8,33,87,5,81,10,1
4,Roman Reigns,49,140,5,118,28,4,187,19,7
...,...,...,...,...,...,...,...,...,...,...
72,Becky Lynch,0,4,0,27,21,0,71,59,1
73,Bad News Barrett,3,0,0,58,17,2,20,54,0
74,Simon Gotch,1,2,0,35,31,0,57,41,0
75,Solomon Crowe,2,1,0,10,21,0,46,37,1
76,Marcus Louis,0,2,0,16,18,1,5,24,0

In [7]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
wwe4 = wwe3.rename(columns={'Wins':'2015 Wins',"Losses":"2015 Losses","Draws":"2015 Draws"})
wwe4.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177,37,6,35,16,2,51,7,0
1,Dean Ambrose,70,134,4,129,36,2,150,63,5
2,Seth Rollins,50,150,4,87,105,4,51,124,1
3,Randy Orton,129,63,8,33,87,5,81,10,1
4,Roman Reigns,49,140,5,118,28,4,187,19,7

In [8]:
# Merge our newly combined dataframe with the 2016 dataframe
wwe5 = pd.merge(wwe4,w16_df,on='Wrestler')
wwe5.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4
1,Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4
2,Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0
3,Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5
4,Ryback,103,88,3,43,114,1,138,34,2,37,17,1

In [9]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"
wwe6 = wwe5.rename(columns={'Wins':'2016 Wins',"Losses":"2016 Losses","Draws":"2016 Draws"})
wwe6.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4
1,Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4
2,Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0
3,Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5
4,Ryback,103,88,3,43,114,1,138,34,2,37,17,1

In [ ]:
#wwe7 = wwe6.set_index("Wrestler")
#wwe7.head()

In [14]:
# Replace all NaN values with 0 
wwe6.fillna(0)
# Create a new column called "Total Wins" and add up each wrestler's wins per year to fill in the values
wwe6['Total Wins'] = wwe6["2013 Wins"] + wwe6['2014 Wins'] + wwe6['2015 Wins'] + wwe6['2016 Wins']

# Create a new column called "Total Losses" and add up each wrestler's losses per year to fill in the values
wwe6['Total Losses'] = wwe6["2013 Losses"] + wwe6['2014 Losses'] + wwe6['2015 Losses'] + wwe6['2016 Losses']

# Create a new column called "Total Draws" and add up each wrestler's draws per year to fill in the values
wwe6['Total Draws'] = wwe6["2013 Draws"] + wwe6['2014 Draws'] + wwe6['2015 Draws'] + wwe6['2016 Draws']

# Create a new column called "Total Matches" and add up the total wins, losses, and draws for each wrestler to fill in the values
wwe6['Total Matches'] = wwe6['Total Wins'] + wwe6['Total Losses'] + wwe6['Total Draws']

wwe6.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
0,Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4,482,300,15,797
1,Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4,227,454,13,694
2,Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0,282,181,14,477
3,Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5,496,199,21,716
4,Ryback,103,88,3,43,114,1,138,34,2,37,17,1,321,253,7,581

In [16]:
# Create a new dataframe for those wrestlers who have wrestled at least 100 matches,
# have at least one win in 2013,
# and have at least one win in 2016

wwe_final = wwe6.loc[(wwe6['Total Matches'] >=100) &
                    (wwe6['2013 Wins'] > 0) &
                    (wwe6['2016 Wins'] > 0)]

# Set the index of this new dataframe to be the wrestlers names
wwe_final = wwe_final.set_index('Wrestler')

wwe_final.head()

,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
Wrestler,,,,,,,,,,,,,,,,
Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4,482,300,15,797
Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4,227,454,13,694
Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0,282,181,14,477
Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5,496,199,21,716
Ryback,103,88,3,43,114,1,138,34,2,37,17,1,321,253,7,581